name: X9/A5 Camera Handler
version: 0.0.56
slug: camera_handler
description: A custom Node.js server handling X9/A5 Cameras inside Home Assistant.
url: https://github.com/YeonV/home-assistant-addons/tree/master/camera-handler
arch:
  - armv7
  - aarch64
  - amd64
stage: stable
init: false
ingress: true
homeassistant_api: true
hassio_api: true
hassio_role: manager
host_network: true
ingress_stream: true
services:
  - mqtt:want
ingress_port: 5000
ingress_timeout: 60
ingress_entry: "/"
panel_icon: mdi:cctv
panel_title: Camera Handler
startup: application
boot: manual
video: true
options:
  mqtt: false
  ui_port: 5000
  log_level: warning
schema:
  mqtt: bool
  ui_port: port
  log_level: list(debug|info|warning)?
image: ghcr.io/yeonv/{arch}-camera-handler
